.card {
  background: white;
  border: none;
  margin: 48px 0px;
  /*border-radius: 16px;*/
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  text-align: left;
}

.card p {
  color: rgba(0,0,0,0.5);
}

.card img {
  height: 16rem;
  width: 28rem;
  object-fit: cover;
  object-position: left;
}
